* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;

}

.block {
    width: 1600px; 
    height: 800px; 
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    overflow: hidden;
}

.block .img {
    flex: 1; 
    /*background-image: url('/src/assets/test-image.jpg');
    background-size: cover; 
    background-position: center; 
    height: 100%;*/
    background-color: rgba(255, 255, 255, 0.952);
    height: 100%;
}

.block .form {
    flex: 1; 
    padding: 20px;
    background: rgba(255, 255, 255, 0.171);
    backdrop-filter: blur(10px);
    height: 100%; 
    display: flex;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}
 
.block .img .text{
    background-color: transparent;
}

.background {
    background-image: url('/src/assets/backg1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    width: 100vw;  
}

